.cardProducts {
  border: lightslategrey 1px;
  width: 300;
}

.imgStyle {
  border-radius: 500px;
  width: 300px;
  display: flex;
  text-align: center;
  border-bottom: lightslategrey;
}

.paragraph {
  text-align: center;
}

.buttonVermas {
  height: 80px;
  width: 150;
  background-color: rgb(112, 224, 219);
  border-radius: 5px;
}
